<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/public/styles/profile.css">
</head>

<body>
    <div class="sidebar">
        <div style="display: flex;flex-direction: column;">
            <img src="/public/img/logo.png" style="height: 120px; width: 120px; margin-left: 60px;" />
            <p style="font-size: larger; color: black; font-weight: 600; margin-left: 70px; margin-bottom: 20px;">
                FarmEasy</p>
        </div>

        <div
            style="height: 600px; background-color: rgba(253, 251, 255, 0.55); font-size: large; padding: 10px; border-radius: 5px;">
            <p style="font-size: 22px; font-weight: 700; color: black; margin-bottom: 8px; margin-top: 5px;
             margin-left: 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">User Profile</p>
             <a href="/dashboard" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Dashboard</p>
                </div>
            </a>


            <div style="height: 5px;"></div>

            <a href="/schemes" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Schemes</p>
                </div>
            </a>
            <div style="height: 5px;"></div>
            <a href="/contacts" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Contacts</p>
                </div>
            </a>

            <div style="height: 5px;"></div>
            <a href="/feeds" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Feeds</p>
                </div>
            </a>
            <div style="height: 5px;"></div>
            <a href="#" style="text-decoration: none; color: aliceblue;">
                <div class="side-items" style="background-color: rgb(25, 127, 164);">
                    <p>User Profile</p>
                </div>
            </a>
            <div style="height: 5px;"></div>
            <a href="/login" style="text-decoration: none; color: aliceblue;">
                <div class="side-items">
                    <p>Logout</p>
                </div>
            </a>






        </div>
    </div>
   
    <div class="dashboard">
       
       
        <div class="card" style="margin-top: 20px;">
            <h3 class="card-title">User Profile</h3>
            <img class="card-image" src="/<%= user.user_img %>" > 
            <p class="card-data">Name: <%= user.user_name %></p>
            <p class="card-data">Gender: <%= user.user_gender %></p>
            <p class="card-data">Mobile: <%= user.user_mobile %></p>
            <p class="card-data">Email: <%= user.user_email %></p>
            <p class="card-data">Total Subsidies Applied: <%= total_subsidies_applied %></p>
            <p class="card-data">Total Subsidies Under Review: <%= total_subsidies_pending %></p>
            <p class="card-data">Total Subsidies Approved: <%= total_subsidies_approved %></p>
            <p class="card-data">Total Subsidies Rejected: <%= total_subsidies_rejected %></p>


            <div style="display: flex; justify-content: space-between;">
                <a href="/<%=user.user_aadhaar%>" target="_blank" class="view-button">View Aadhaar</a>
                <a href="/<%=user.user_pan%>" class="view-button" target="_blank" >View PAN</a>
            </div>
        </div>
        
      
    </div>
    <div class="cardFlex" style="display: flex; flex-direction: row; flex-wrap: wrap; margin-left: 400px;">
        <% applied.forEach(scheme => { %>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>

            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
            <div class="card-app">
                <h3 class="card-title"><%= scheme.scheme_name %></h3>
                <div class="card-comments" style="margin-bottom: 8px;">Email: <%= user.user_email %></div>
                <div class="card-status" id="status" style="color: 
                    <% if (user.status === 'Approved') { %>
                        green
                    <% } else if (user.status === 'Rejected') { %>
                        red
                    <% } else { %>
                        blue
                    <% } %>;">
                    Status: <%= scheme.status %>
                </div>
                <div class="card-comments">Comments: <%= scheme.comment %></div>
    
            </div>
        <% }) %>
        

    </div>
    <script></script>
</body>

</html>